<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:label="@string/app_name">
        <provider
            android:authorities="${applicationId}.support.ContextProvider"
            android:name="com.yaocf.support.provider.ContextProvider"
            tools:node="replace"
            android:exported="false" />
    </application>

</manifest>